@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300&family=Rokkitt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #fdfbf7;
    color: #4a2c2a;
    font-family: 'Poppins', sans-serif;
    
}

/* ===== HEADER ===== */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #850d15;
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
}

.logo img {
    height: 60px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.contact-button {
    background-color: #b76a21;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    opacity: 0;
    animation: fadeIn 1s ease-out 0.3s forwards;
}

.contact-button:hover {
    background-color: #a75c1a;
}

.icon {
    width: 20px;
    height: auto;
    filter: brightness(0) invert(1);
}

.menu-toggle {
    display: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

/* ===== BANNER ===== */
.main-banner {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
    z-index: 1;
}

.main-banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    filter: brightness(75%);
}

.texto-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFA500;
    padding: 0;
    width: 90%;
    max-width: 700px;
}

.texto-banner h1::after {
    content: "";
    display: block;
    width: 60%; 
    max-width: 300px;
    height: 2px;
    background-color: #ffffff;
    margin: -6px auto 15px auto;
    border-radius: 2px;
    opacity: 0;
    animation: fadeIn 1s ease-out 0.5s forwards;
}

.texto-banner h1 {
    font-size: 80px;
    font-family: 'Rokkitt', sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.texto-banner p {
    font-size: 20px;
    color: #ffffff;
    margin-top: -55px; 
    font-family: 'Poppins', sans-serif;
}

/* ===== INFO SECTION ===== */
.section-info {
    display: flex;
    position: relative;
    align-items: center;
    padding: 40px 10%;
    gap: 40px;
    right: 5%;
}

.section-info img {
    width: 35%;
    border-radius: 10px;
    z-index: 2;
    margin-top: -200px;
}

.section-info h2 {
    font-size: 25px;
    color: #FAB537;
    font-family: 'Rokkitt', sans-serif;
    margin-bottom: 5px;
    margin-top: -120px;
}

.section-info h2::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #FFD17D;
    border-radius: 2px;
    width: 60%; 
    max-width: 100px;
}

.section-info p {
    line-height: 1.5;
    font-size: 22px;
    font-family: 'Inter';
    max-width: none; 
    width: 60vw;
    margin-top: 10px;
    margin-left: 0;
}

/* ===== PRODUTOS ===== */
.produtos {
    background-color: #fff3e0;
    padding: 60px 10%;
}

.produto-item {
    text-align: center;
}

.produtos-grid {
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;
}

.produtos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.produtos-header h2 {
    margin-top: -30px;
    margin-left: 50px;
    font-size: 25px;
    font-family: 'Rokkitt', serif;
    color: #000000;
    position: relative;
}

.produtos-header h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #66010A;
    margin-top: 6px;
    border-radius: 2px;
}

.btncomprar {
    background-color: #8b1d1d;
    color: white;
    border: none;
    padding: 8px 14px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.icone-btn {
    width: 25px;
    height: 25px;
}

.img-wrapper {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.img-wrapper img:first-child {
    width: 100%;
    display: block;
    border-radius: 12px;
}

.selo {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 60px;
    height: auto;
    z-index: 10;
}

.card {
    background: white;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform .3s, box-shadow .3s;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #66010A;
    z-index: 5;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.img-wrapper {
    height: 100%;
    width: 100%;
}

.img-wrapper img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.nomeproduto {
    margin-top: 12px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 400;
    align-items: center;
    position: relative;
    display: inline-block;
}

.nomeproduto::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    background-color: #66010A;
    margin: 4px auto 0 auto;
    border-radius: 2px;
}

/* ===== PRODUÇÃO ===== */
.producao {
    padding: 60px 10%;
}

.producao h2{
    color: #E49B0F;
    margin-top: 50px;
    font-family: 'Rokkitt', sans-serif;
    font-size: 29px;
}

.producao-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
    position: relative;
}

.producao-container img {
    display: block;
    right: 45px;
    position: relative;
    z-index: 2;
}

.producao-bloco {
    background-color: #E49B0F;
    padding: 45px 50px;
    margin-left: -260px; 
    width: 90%;
    position: relative;
    z-index: 1;
}

.producao-bloco h3 {
    color: #ffffff;
    font-family: 'Rokkitt', sans-serif;
    margin-left: 23%;
    font-size: 28px;
    margin-top: -2%;
    font-weight: 400;
}

.producao-bloco p{
    color: #fff;
    font-size: 22px;
    font-family: 'Rokkitt', sans-serif;
    margin-left: 23%;
    width: 70%;
    margin-top: -2%;
}

.btn-saibamais {
    background-color: #ffffff;
    color: #E49B0F;
    border: none;
    padding: 8px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    margin-left: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    height: 40px;
    transition: all 0.2s ease;
    width: auto;
}

.btn-saibamais:hover {
    background-color: #f2f2f2;
}

.btn-saibamais img {
    width: 17px;
    height: 17px;
    object-fit: contain;
    position: static;
    margin: 0;
}

.img-producao {
    width: 45%;           
    max-width: 600px;  
    height: auto;
    display: block;
    margin: auto;
    justify-content: center;
}

.btn-saibamais .icone-sb {
    width: 17px;
    height: 17px;
    object-fit: contain;
    margin: 0;
    position: static;
}

.promo{
    background-color: #00000060;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    display: none; /* começa escondido; JS mostra apenas uma vez */
    flex-direction: column;
    align-items: center;
    justify-content: center;
     
}
.popUp{
   background-color: rgba(255, 255, 255, 0);
  z-index: 999;
  width: 580px;
  height: 340px;
  position: relative;


}
.popUp img{
  width: 100%;

}
.popUp button{
position: absolute;
width: 28px;
height: 24px;
border-radius: 100%;
text-align: center;
top: 5px;
left: 5px;
font-weight: bolder;
cursor: pointer;

color: rgb(0, 0, 0);
border: 1px white solid;
background-color: white;
}

.popUp button:hover{
position: absolute;
width: 28px;
height: 24px;
border-radius: 100%;
text-align: center;
top: 5px;
left: 5px;
font-weight: bolder;
cursor: pointer;

color: rgb(0, 0, 0);
border: 1px white solid;
background-color: rgb(218, 217, 217);
}
/*===== RESPONSIVIDADE ===== */
@media (max-width: 1024px){
    .navbar{
        padding:10px 10px;
    }
    .texto-banner{
        padding:5px 15%;
    }
    .texto-banner p{
        margin-top: -55px;
    }
    .section-info img{
        width:60%;
        margin-top:0;
    }
    .section-info p{
        width:90%;
        margin:0 auto;
    }
    .producao-container{
        flex-direction:column;
        align-items: center;
        text-align: center;
    }
    .producao-bloco{
        margin-left:0;
        width:100%;
        padding:30px;
    }
    .producao-bloco h3,
    .producao-bloco p{
        margin-left:0;
        width:100%;
    }
    .btn-saibamais{
        margin: 15px auto 0 auto;
        width: fit-content;
        padding: 8px 18px;
        font-size: 12px;
        height: auto;
        gap: 6px;
    }
    .producao-container img{
        right: 0;
    }
    .img-producao {
        width: 60%;
        max-width: 500px;
        margin-bottom: 10px;
        justify-items: center;
    }
    .producao h2{
        color: #E49B0F;
        margin-top: 50px;
        text-align: center;
        font-family: 'Rokkitt', sans-serif;
        font-size: 29px;
    }
}

@media (max-width: 768px){
    .nav-links{
        display: none;
        flex-direction: column;
        background-color: #850d15;
        position: fixed;
        top: 70px;
        right: 0;
        text-align: center;
        padding: 20px 0;
        gap: 30px;
        z-index: 9999;
        width: 180px;
        height: 100dvh;
        opacity: 0;
        transform: translateY(10px);
        animation: faderesponsive 0.4s ease forwards;
    }
    .section-info h2::after {
    display: none;
    
}


    @keyframes faderesponsive {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .nav-links.show {
        display: flex;
    }

    nav .nav-links.show a{
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }

    nav .nav-links.show a:hover{
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: silver;
        transition: 500ms;
    }

    .menu-toggle {
        display: block; 
    }

    .navbar {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 15px 20px;
        position: fixed;   /* mantém o menu/botão sempre no topo */
        top: 0;
        left: 0;
        right: 0;
        z-index: 10000;
    }

    .contact-button {
        background-color: #b76a21;
        color: white;
        padding: 6px 12px;
        border-radius: 6px;
        text-decoration: none;
        font-size: 13px;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-left: 130px;
    }

    .logo img {
        height: 50px;
    }

    .texto-banner h1{
        font-size: 60px;
    }
    .texto-banner p{
        font-size: 16px;
        margin-top: -40px;
       
    }
    .section-info img{
    display: none;
    }
    .section-info h2{
        margin-top: 10px;
        margin-bottom: -15px;
        text-align: center;
        position: relative;
        left: 20px;
       
    }
    .section-info p{
        margin-top: 30px;
         width: 100%;
       text-align: justify;
       position: relative;
       left: 17px;
      
    }

    .produtos-grid{
        gap:40px;
    }
    .card{
        width:170px;
        height:auto;
    }
    .producao-container img{
        right: 0;
    }
    .img-producao {
        width: 60%;
        max-width: 500px;
        margin-bottom: 10px;
        justify-items: center;
    }
    .producao h2{
        color: #E49B0F;
        margin-top: 50px;
        text-align: center;
        font-family: 'Rokkitt', sans-serif;
        font-size: 29px;
    }
    .produto-item {
        text-align: center;
        justify-items: center;
    }
    .produtos-header h2{
        margin-left: 0;
    }

    .popUp{
  background-color: rgba(255, 255, 255, 0);
  z-index: 999;
  width: 350px;
  height: 200px;
  position: relative;


}
.popUp img{
  width: 100%;

}
.popUp button{
position: absolute;
width: 24px;
height: 24px;
border-radius: 100%;
text-align: center;
top: 5px;
left: 5px;
font-weight: bolder;
cursor: pointer;

color: rgb(0, 0, 0);
border: 1px white solid;
background-color: white;
}

.popUp button:hover{
position: absolute;
width: 24px;
height: 24px;
border-radius: 100%;
text-align: center;
top: 5px;
left: 5px;
font-weight: bolder;
cursor: pointer;

color: rgb(0, 0, 0);
border: 1px white solid;
background-color: rgb(218, 217, 217);
}
}

@media (max-width: 480px){

    .navbar{
        gap:10px;
        text-align:center;
    }
    .nav-links{
        flex-wrap:wrap;
    }
    .texto-banner h1{
        font-size:40px;
        margin-bottom: -5px;
    }
    .texto-banner p{
        font-size:14px;
        margin-top: -10px;
    }
    .section-info img{
        width:60%;
    }
    .section-info p,
    .producao-bloco p{
        font-size:16px;
    }
    .card { 
        width: 140px;  
    }
    .producao-bloco{
        padding:25px 20px;
        align-items: center;
    }
    .btn-saibamais{
        margin: 12px auto 0 auto; 
        width: fit-content;
        padding: 8px 20px;
        font-size: 11px;
        gap: 5px;
    }
    .btn-saibamais img {
        width: 15px;
        height: 15px;
    }
    .produto-item {
        text-align: center;
        justify-items: center;
    }
    
}