* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #850d15;
  padding: 15px 30px;
}

.logo img {
  height: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.contact-button {
  background-color: #b76a21;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-button:hover {
  background-color: #a75c1a;
}

.icon {
  width: 20px;
  height: auto;
  filter: brightness(0) invert(1);
}

.sobre {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 100px;
  background-color: #ffffff;
}

.texto {
  width: 45%;
  text-align: justify;
}

.texto h2 {
  color: #501010;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 3px solid #d49a1a;
  padding-bottom: 4px;
  display: inline-block;
}

.texto p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.imagens {
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: flex-end;
  gap: 0;
  position: relative;
}

.imagens img {
  height: 300px;
  margin-top: 10px;
}


.comercialimg {
 width: 1365px;
  height: 250px;
  background-image: url(Imagens/imagem4.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alinha{
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-sobre-imagem {

  color: white;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 4px solid #d49a1a;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  
}

#produtos-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.produto {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  min-width: 700px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.produto img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}


.bloco-selos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffffff, #7B3B20);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 15px 10px;
  gap: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.bloco-selos img {
  width: 50px;
  height: auto;
}


.descricao {
  position: relative;
  flex-direction: column;
  background-color: #850d15;
  color: white;
  width: 650px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 40px;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descricao h1 {
  border-bottom: 4px solid #d49a1a;
}

.descricao button {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #d49a1a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; 
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}


/* Rodapé padrão igual à tela inicial */
.rodape {
  background-color: #8b1d1d;
  color: #fff;
  text-align: center;
  padding: 30px 10%;
  margin-top: 60px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social img {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
}

.social img:hover {
  transform: scale(1.1);
}

.marca {
  font-size: 22px;
  margin-top: 10px;
}

.subtitulo {
  margin: 0;
  font-size: 14px;
  color: #ffcc00;
}

.copy {
  font-size: 12px;
  margin-top: 15px;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}


/* celular */
@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #850d15;
    position: fixed;
    top: 70px;
    right: 0;
    text-align: center;
    padding: 20px 0;
    gap: 30px;
    z-index: 9999;
    width: 180px;
    height: 100dvh;
          opacity: 0;
  transform: translateY(10px);
  animation: faderesponsive 0.4s ease forwards;
  }
  @keyframes faderesponsive {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


  .nav-links.show {
    display: flex;
    
  }
  nav .nav-links.show a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

}
  nav .nav-links.show a:hover{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: silver;
  transition: 500ms;
  
}

  .menu-toggle {
    display: block; 

  }

  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 20px;
  }

 .contact-button {
    background-color: #b76a21;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 130px;
  }

  .logo img {
    height: 50px;
  }



  .sobre {
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
  }

  .texto {
    width: 100%;
    text-align: center;
  }

  .imagens img {
    height: 200px;      
    width: auto;  
    margin-top: 5px;
  }

  .imagens {
    width: 100%;
    justify-content: center;
  }

.comercialimg {
 width: 405px;
  height: 130px;
  background-image: url(Imagens/imagem4.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.alinha{
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.texto-sobre-imagem {

  color: white;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 4px solid #d49a1a;
  font-family: Arial, Helvetica, sans-serif;
}


  .produto {
    flex-direction: column; 
    align-items: center;
    width: 85%;
    min-width: unset;
    padding: 15px;
  }

  .produto img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .bloco-selos {
    flex-direction: row; 
    justify-content: center;
    gap: 10px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    width: 90%;
  }

  .bloco-selos img {
    width: 40px;
  }

  .descricao {
    width: 100%;
    height: auto;
    text-align: justify;
    padding: 15px;
  }

  .descricao h1 {
    font-size: 18px;
  }

  .descricao p {
    font-size: 14px;
    line-height: 1.5;
  }

  .descricao button {
  position: relative;
  top:100%;
  bottom: -2px; 
  right: -25px;  
  background-color: #d49a1a;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 80%;
  height: 40px;
}

.descricao button:hover {
  background-color: #b8861a;
}


  .footer-custom {
    padding: 20px 10px;
  }

  .footer-logo .text-logo {
    font-size: 18px;
  }

  .slogan {
    font-size: 12px;
  }
}

/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {

 

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
  }

  .logo img {
    height: 60px;
  }


  .nav-links {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    position: static;
    width: auto;
    gap: 20px;
    padding: 0;
  }

  .menu-toggle {
    display: none;
  }

  .contact-button {
    background-color: #b76a21;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
  }


  .sobre {
    flex-direction: row;
    padding: 50px 40px;
    justify-content: space-between;
    align-items: center;
  }

  .texto {
    width: 50%;
    text-align: justify;
  }
nav .nav-links a{
  font-size: 14px;
}
  .imagens {
    width: 45%;
    justify-content: center;
  }

  .imagens img {
    height: 200px;
    margin-top: 10px;
  }

.comercialimg {
 width: 790px;
  height: 140px;
  background-image: url(Imagens/imagem4.jpeg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.alinha{
  background-color: rgba(255, 0, 0, 0);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.texto-sobre-imagem {

  color: white;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 4px solid #d49a1a;
  font-family: Arial, Helvetica, sans-serif;
}


 .produto img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
}


.bloco-selos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ffffff, #7B3B20);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 15px 10px;
  gap: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.bloco-selos img {
  width: 50px;
  height: auto;
}


.descricao {
  position: relative;
  flex-direction: column;
  background-color: #850d15;
  color: white;
  width: 400px;
  height: 470px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 40px;
  margin-top: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.descricao h1 {
  border-bottom: 4px solid #d49a1a;
}

.descricao button {
  position: relative;
  top: 20px;
  right: -200px;
  background-color: #d49a1a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; 
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

  .descricao button:hover {
    background-color: #b8861a;
  }

  .footer-custom {
    padding: 30px 20px;
  }

  .footer-logo .text-logo {
    font-size: 22px;
  }

  .slogan {
    font-size: 13px;
  }
}

